.full-height {
  min-height: 100vh;
}

.rs-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  min-height: 56px;
  background: #fff;
  border-bottom: 1px solid #d8dbe0;
  right: 0;
  left: 0;
  z-index: 1029;
  position: sticky;
  top: 0;
}
.rs-panel-body {
  background-color: #fff;
}
.rs-panel-heading {
  background-color: #fff;
  border-bottom: 1px solid #d8dbe0;
}

.rs-notification-item .rs-notification-item-content {
  background-color: #3c4b64;
  width: 220px;
}
.rs-notification-title {
  color: #fff!important;
}
.rs-notification-description {
  color: #fff!important;
  margin-left: 0!important;
  margin-top: 15px!important;
}